
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items>ul>li{
    padding: 5px;
}

.logo{
        height: 80px;
        width: 80px;
}

.card{
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
}

.card>img{
    width: 100%; 
}

.card>h5{
    word-wrap: break-word
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}

.searchBar{
    margin: 10px;
}